@model Modelo.Perguntas
@{
    ViewBag.Title = "Certo";
}

<h2>Correto</h2>
<br />

<h3>@Html.DisplayFor(x =>x.DescResposta)</h3>

<button class="btn btn-default">@Html.ActionLink("Proxima Pergunta","ProximaPergunta")</button>

