@model Modelo.Perguntas
@{
    ViewBag.Title = "Index";
}

    <div class="jumbotron">
        <h2>Bem-Vindo</h2>
        <br />
        <h3>Clique nas categorias ao lado para começar os simulados.</h3>
        <br />
        OBS: Caso você clique em outra categoria ou volte para a Home
        você perderá todo seu progresso do simulado.
    </div>



