@model Modelo.Perguntas
@{
    ViewBag.Title = "Errado";
}

<h2>Errado</h2>

<h3>@Html.DisplayFor(x => x.DescResposta)</h3>

@Html.ActionLink("Proxima Pergunta", "ProximaPergunta", new { @class = "btn btn-primary" })