@{
    Servico.CategoriasServico teste = new Servico.CategoriasServico();
    IEnumerable<Modelo.Categorias> categorias = teste.List();
}

@foreach (var item in categorias)
{
    <li>@Html.ActionLink(item.NomeCateg, "Perguntas", "Perguntas", new { categoriaSelecionada = item.CategoriaId }, null)</li>
}

